<div class="card bg-base-100 shadow-sm animated-fadeIn ">
  <figure>
    <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Card Title</h2>
    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
    <div class="card-actions justify-end">
      <a class="link link-accent" [routerLink]="['/product', 't-shirt']">
        Ver producto
      </a>
    </div>
  </div>
</div>